*{
    margin: 0;
    padding: 0;
    font-family: 'Press Start 2P', ;
}

.container{
    height: 100%;
    width: 100%;
    background-color: beige;
    background-position: center;
    background-size: cover;
    position: absolute;
}

.form-box{
    width: 380px;
    height:480px;
    position: relative;
    margin: 6% auto;
    background: #fff;
    padding: 5px;
    overflow: hidden;
}

.button-group{
    width: 220px;
    margin: 35px;
}

.toggle-btn{
    padding: 10px 30px;
    border: 0;
    position: relative;
    background-color: lightsalmon;
    border-radius: 30px;
    
}

#btn{
    top: 0;
    left: 0;
    position: absolute;
    width: 110px;
    height: 100%;
    transition: .5s;
}

.input-group{
    top: 150px;
    position: absolute;
    width: 280px;
    transition: .5s;
}

.input-field{
    width: 100%;
    padding: 10px 0;
    margin: 5px;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px ;
    outline: none;
    background: transparent;
}

.submit-btn{
    width: 85%;
    padding: 10px 30px;
    display: block;
    margin: auto;
    border: 0;
    outline: none;
    border-radius: 30px;
}

.check-box{
    margin: 30px 10px 30px 0;
}

span{
    color:teal;
    font-size: 12px;
    bottom: 65px;
    position: absolute;
}

#login{
    left: 50px;
}

#register{
    left: 450px;
}

button:hover{
    background-color: lightsteelblue;
}